.wrapper-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container-cart {
    padding: 2rem;
    width: 90rem;
    background: #fff;
    border-radius: 0.4rem;
}

.container-cart table {
    width: 100%;
}

.container-cart table thead th {
    color: #303030;
    text-align: left;
    padding: 1rem;
}

.container-cart table tbody td {
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.container-cart table tbody td .cart-image-product{
    max-width: 8rem;
}

.container-cart table img {
    height: 10rem;
    border-radius: 0.5rem;
}

.container-cart table strong {
    color: #333;
    display: block;
}

.container-cart table span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.container-cart table div {
    display: flex;
    align-items: center;
}

.container-cart table div input {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #666;
    padding: 0.5rem;
    width: 3rem;
}

.container-cart table button {
    background: none;
    border: 0;
    padding: 0.5rem;
}

.container-cart footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-cart footer button {
    background: #2e86de;
    color: #fff;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    padding: 1rem;
    display: flex;
}

.container-cart footer button:hover {
    filter: brightness(0.9);
}

.container-cart footer div.button-action-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-cart footer div.button-action-footer button:first-child{
    background: #ee5253;
}

.container-cart footer div.total-cart {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.container-cart footer div.total-cart span {
    color: #000;
    font-weight: bold;
}

.container-cart footer div.total-cart strong {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
