main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    list-style: none;
    margin-top: 1rem;
}

.list-products li {
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    padding: 1.2rem;
    background-color: #ffffff;
}


.list-products li img {
    align-self: center;
    max-width: 20rem;
    border-radius: 0.5rem;
}

.list-products li .discount {
    background-color: #54a0ff;
    position: relative;
    max-width: 20rem;
    max-height: 2rem;
    border-radius: 0 0 0.5rem 0.5rem ;
    top: -2rem;
    opacity: 0.8;
}

.list-products li .discount span{
    display: flex;
    justify-content: center;
}

.list-products li strong {
    font-size: 1.4rem;
    color: #000;
    margin-top: 0.3rem;
}

.list-products li span {
    font-size: 1.2rem;
    color: #000;
    margin: 5px 0 20px;
}

.list-products li button {
    background: #2e86de;
    color: #fff;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    padding: 12px;
}

.list-products li button:hover {
    filter: brightness(0.9);
}

.original-price {
    font-size: 0.8rem;
}
