.container-search{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3rem;
    width: 40rem;
}

.container-search input{
    flex: 1;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.6rem;
}
